html, header, footer, body, p, div, h1, h2, h3. h4 {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
}

h1 {
	font-size: 350%;
	font-weight: bold;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
h2 {
	font-size: 250%;
	font-family: Helvetica, sans-serif;
}

h3 {
	font-size: 220%;
	font-family: Helvetica, sans-serif;
}

h4 {
	font-size: 190%;
	font-family: Helvetica, sans-serif;
}

.skills {
	font-size: 140%;
	text-align: center;
}

.facepic {
	max-width: 400px;
}

.center {
	margin: 0 auto;
}

header {
	background-color: black;
}

.white {
	color: white;
}

.spacious {
	padding: 2.5em 0;
}

.extraspacious {
	padding: 5em 0;
}

header img {
	max-width: 1.5em;
}

.social {
	padding: 0.5em 0;
}

.social li {
	display: inline-block;
	margin: 0.03em;
}