html, header, footer, body, p, div, h1, h2, h3. h4 {
	padding: 0;
	margin: 0;
	font-size: 100%;
	font: inherit;
}

h1 {
	font-size: 350%;
	font-weight: bold;
	text-align: center;
	font-family: "Open Sans", Helvetica, sans-serif;
}
h2 {
	font-size: 250%;
	font-family: "Open Sans", Helvetica, sans-serif;
}

h3 {
	font-size: 220%;
	font-family: "Open Sans", Helvetica, sans-serif;
}

h4 {
	font-size: 190%;
	font-family: "Open Sans", Helvetica, sans-serif;
}

.skills {
	text-align: center;
	margin-bottom: 1.5em;
}

.skills li {
	font-size: 200%;
}

.facepic {
	max-width: 400px;
}

.center {
	margin: 0 auto;
}

header, footer {
	background-color: black;
}

.white {
	color: white;
}

.spacious {
	padding: 2.5em 0;
}

.extraspacious {
	padding: 3em 0 5em 0;
}

header img {
	max-width: 1.5em;
}

.social {
	padding: 0.5em 0;
}

.social li {
	display: inline-block;
	margin: 0.03em;
}

.orange-bg {
	background-color: orange;
}

.top-1em {
	padding-top: 1em;
}

.story {
	line-height: 1.3em;
	font-weight: 200;
	font-family: "Proxima Nova", Futura, Helvetica, sans-serif;
}

footer p {
	padding-top: 2em;
}

#projects {
	margin-bottom: 2em;
}

#projects li {
	margin: 1em 0;
}

#projects img {
	border-radius: 2%;
}